<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/search.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
</head>
<body>
    <%- include('partials/navbar.ejs') %>

    <!-- Search Bar -->
    <section class="search-bar">
        <form action="/search" method="get">
            <input type="text" name="searchQuery" placeholder="Search for movies you have watched..." value="<%= searchQuery %>">
            <button type="submit"><i class="bi bi-search"></i>Search</button>
        </form>
    </section>

    <!-- Search Results -->
    <div class="container">
        <% if (searchQuery && movies.length > 0) { %>
            <h1>Search results for "<%= searchQuery %>"</h1>
            <div class="movie-grid">
                <% movies.forEach(movie => { %>
                    <div class="movie-card">
                        <div class="movie-poster">
                            <% if (movie.Poster === 'N/A') { %>
                                <p>No picture found</p>
                            <% } else { %>
                                <img src="<%= movie.Poster %>" alt="Poster of <%= movie.Title %>">
                            <% } %>
                        </div>
                        <div class="movie-info">
                            <h2><%= movie.Title %> (<%= movie.Year %>)</h2>
                            <p><strong>Genre:</strong> <%= movie.Genre %></p>
                            <p><strong>Director:</strong> <%= movie.Director %></p>
                            <p><strong>Actors:</strong> <%= movie.Actors %></p>
                            <p><strong>IMDB rating:</strong> <%= movie.imdbRating %></p>
                            <button class="btn add-to-profile" onclick="addToProfile('<%= movie.imdbID %>',
                            '<%= movie.Title %>', '<%= movie.Year %>', '<%= movie.Genre %>', '<%= movie.Director %>',
                            '<%= movie.Actors %>', '<%= movie.imdbRating %>', '<%= movie.Poster %>')">Add to Profile</button>
                        </div>
                    </div>
                <% }) %>
            </div>
        <% } else if (searchQuery) { %>
            <h1>No results found for "<%= searchQuery %>"</h1>
        <% } %>
    </div>
    <script>
      function addToProfile(movieId, title, year, genre, director, actors, imdbRating, poster) {
        fetch('/profile/add', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ movieId, title, year, genre, director, actors, imdbRating, poster })
        })
        .then(response => {
          if (response.ok) {
            Swal.fire({
                icon: 'success',
                title: 'Success!',
                text: 'The movie has been added to your profile.',
              });
          } else {
            Swal.fire({
                title: 'Error!',
                text: 'Failed to add movie to profile.',
                icon: 'error',
                animation: false,
                customClass: {
                    popup: 'animated tada'
            }
        });
          }
        })
        .catch(error => {
          console.error('Error:', error);
          Swal.fire({
              title: 'Error!',
              text: 'Failed to add movie to profile.',
              icon: 'error',
              animation: false,
              customClass: {
                  popup: 'animated tada'
          }
        });
        });
      }
    </script>
</body>
</html>